/* Contenedor de la información */
body{
  font-family: 'Dosis', sans-serif;
}
.info-container {
  height: 300px;
  background-color: aqua;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
}

/* .container {
  margin-right: 5%;
  margin-left: 5%;
} */

.select-options {
  border-left: solid;
}

.btn-section{
  background-color: #f6a800;
  height: 45px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
}


/* .container-fluid {
width: 95%;
} */

.graph {
    min-width: 290px;
    background-color: aqua;
}

.color {
    background-color:rgb(243, 248, 249);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
    margin-left: 25px;
    margin-right: 25px;
}

.info-container {
    min-height: 500px;
    margin-top: 50px;
}

.description {
    background-color: white;
    margin: 20px;
    max-width: 245px;
}

/* Menu lateral */

.menu {
    position: absolute;
    top:0;
    height: 100vh; /* viewport height, usa el 100% de la altura de la pantalla*/
    width: 90vw;  /* viewport width 90% del an*/
    transition: 0.5s ease-out;
    z-index: 2;
}

.a-nav{
    color: #f6a800;
}

/* .navbar {
    margin: 0px -45px 0px -15px;
} */

.menu_closed {
    left: -90vw;
   
}

.menu_open{
    left: 0;
    z-index: 2;
}

.close_button{ /* configurando boton de cierre del navbar*/
    font-size: xx-large;
    color: #f6a800;
    position: absolute;
    right: 10px;  
                    
}

.menu_content{
    padding: 10px;
    margin-top: 20px;
   
}

.color-side{
    background-color: white;
}

@media(min-width: 768px){ /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
    .menu{
        width: 20vw; /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
    }

    .menu_closed{
        left:-20vw;
    }
}
/* css bienvenidos */

.tec{
  padding: 0.5em;
  display: inline-block;
  justify-content: center;
  margin-left: 1em;
  transition: 0,5s;
}
.tec:hover{
  transform: scale(1.3);
}
.tec > i{
  color:black;
  font-weight: bold; 
  font-size: 4em;
}

#botones{
  margin-top: 2em;
}
#iconos{
  margin-top: 6em;
}

#bienvenido{
  margin-top: 1.5em;
}
#interes{
  margin-top: 2em;
  color: rgb(0, 170, 255)
}