/* Contenedor de la información */
.info-container {
  height: 300px;
  border: solid rgb(80, 170, 255);
}

.principal-options {
  color: aliceblue;
  border-left: solid;
  padding: 10px;
}

/* .container {
  margin-right: 5%;
  margin-left: 5%;
} */

.select-options {
  border-left: solid;
  padding-left: 10px;
}

.select-options:hover{
  background-color: #f6a800;
}

.btn-section{
  height: 45px;
  border: solid rgb(80, 170, 255);
}


/* .container-fluid {
width: 95%;
} */

.graph {
    min-width: 290px;
    background-color: aqua;
}

.color {
    background-color:rgb(243, 248, 249);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
    margin-left: 25px;
    margin-right: 25px;
}

.info-container {
    min-height: 500px;
    margin-top: 50px;
}

.description {
    background-color: white;
    margin: 20px;
    max-width: 245px;
}

/* Menu lateral */

.menu {
    position: absolute;
    top:0;
    height: 100vh; /* viewport height, usa el 100% de la altura de la pantalla*/
    width: 90vw;  /* viewport width 90% del an*/
    transition: 0.5s ease-out;
    z-index: 2;
}

.a-nav{
    color: #f6a800;
}

/* .navbar {
    margin: 0px -45px 0px -15px;
} */

.menu_closed {
    left: -90vw;
   
}

.menu_open{
    left: 0;
    z-index: 2;
}

.close_button{ /* configurando boton de cierre del navbar*/
    font-size: xx-large;
    color: #f6a800;
    position: absolute;
    right: 10px;  
                    
}

.menu_content{
    padding: 10px;
    margin-top: 20px;
   
}

.color-side{
    background-color: white;
}

@media(min-width: 768px){ /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
    .menu{
        width: 20vw; /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
    }

    .menu_closed{
        left:-20vw;
    }
}
