/* Contenedor de la información */
body{
  font-family: 'Dosis', sans-serif;
}
/*navbar nuevo*/
/* Contenedor de la información */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.info-container {
  height: 300px;
  border: solid rgb(80, 170, 255);
}

.principal-options {
  color: aliceblue;
  border-left: solid;
  padding: 10px;
}

/* .container {
  margin-right: 5%;
  margin-left: 5%;
} */



.btn-section{
  height: 45px;
  border: solid rgb(80, 170, 255);
}


/* .container-fluid {
width: 95%;
} */

.graph {
    min-width: 290px;
    background-color: aqua;
}

.color {
    background-color:rgb(243, 248, 249);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 10px 9px 0 rgba(0, 0, 0, 0.19);
    margin-left: 25px;
    margin-right: 25px;
}

.info-container {
    min-height: 500px;
    margin-top: 50px;
}

.description {
    background-color: white;
    margin: 20px;
    max-width: 245px;
}



/* .navbar {
    margin: 0px -45px 0px -15px;
} */


/* css bienvenidos */

.tec{
  padding: 0.5em;
  display: inline-block;
  justify-content: center;
  margin-left: 1em;
  transition: 0,5s;
}
.tec:hover{
  transform: scale(1.3);
}
.tec > i{
  color:black;
  font-weight: bold; 
  font-size: 4em;
}

#botones{
  margin-top: 2em;
}
#iconos{
  margin-top: 6em;
}

#bienvenido{
  margin-top: 1.5em;

}
#interes{
  margin-top: 2em;

}

.fa-bars{
  font-size: 1.5em;
  color:white;
  margin-top: 1em;
}
nav{
  background-color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;

}
.mx{
  margin-left: 5em;
  margin-right:5em;

}
.mx:hover{
  color:rgb(60,168,248);
}
A:link {text-decoration: none }
A:hover { color: white;  }
A:visited {color: white; text-decoration: none }

/*